/* Archivo CSS para estilos de la web */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    text-align: center;
    padding: 1em 0;
}

header {
    background: linear-gradient(to right, #FF6B6B, #4B7BEC);
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #ff9100;
    color: rgb(211, 36, 196);
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

footer {
    font-size: 0.9em;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.contact-form {
    max-width: 500px;
    margin-bottom: 1em;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #4B7BEC;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #3867D6;
}

.copyright {
    margin-top: 1em;
}
header img {
    width: 50px; /* Ajusta el tamaño según lo necesites */
    height: auto;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    vertical-align: middle; /* Alinea la imagen con el texto */
}
